html{
  background-image: url(https://as2.ftcdn.net/v2/jpg/02/65/96/33/1000_F_265963339_5ESvczPhwgZ35TSLAqAIifqYpCrw6eH1.jpg);
    background-repeat:repeat;
}

.App{
  display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-end;
    align-items: center;
    
  }
td {
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
  padding: 20px;
  margin: 80px;
  background-color: #f7c0d4;
  border: 2px solid #68c1c9;
  
}
th{
  padding: 20px;
  margin: 80px;
  background-color: #f29bc1;
  border: 8px solid #ffd400;



}
button{
  padding: 20px;
  font-size: large;
  margin: 15px;
  border-color: #9697c0;
  border-radius: 15px;
  background-color:#68c1c9 ;
  transition: 2s;
}


/* general */
table{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* IMG */
 img{
  height: 80px;
  width: 50px;
} 

